.aboutTeam {
  margin-top: 10%;
  @include section-frame();
  @include center-section();

  .section-img-container {
    text-align: center;
  }

  .section-img-contact {
    width: 100%;
    clip-path: circle();
    mix-blend-mode: $blend-image-dark;
  }
}

@media screen and (max-width: 1092px) and (min-width: 760px) {
  .section-img-contact {
    max-width: 80%;
  }

  .aboutTeam-paraghraph {
    font-size: 0.8rem;
  }
  .aboutTeam-small {
    font-size: 0.8rem;
  }
  .aboutTeam-header {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 759px) and (min-height: 320px) {
  .aboutTeam {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section-img-contact {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }

  .section-img-container-contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutTeam-paraghraph {
    font-size: 0.7rem;
  }
  .aboutTeam-small {
    font-size: 0.5rem;
  }
  .aboutTeam-header {
    font-size: 0.8rem;
  }
}
