.info-section {
  width: 100%;
}

.about-me {
  margin-bottom: 10px;
  @include center-section();
  @include section-frame();

  .section-img-container {
    text-align: center; /* Center the image horizontally */
  }

  .section-img {
    width: 100%;
    max-width: 500px;
    mix-blend-mode: $blend-image-dark;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .work-section .works {
    flex: 0 1 calc(50% - 10px);
  }
  .skill-item {
    flex-direction: column;
  }
  .section-img-container {
    width: 100%;
    justify-content: center;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }

  /* Adjust font sizes */
  .work-section-h2,
  .category-header,
  .skill-item-h3,
  .aboutme-paraghraph,
  .aboutme-small,
  .aboutme-header {
    font-size: 1rem;
  }

  /* Adjust image */
  .section-img {
    max-width: 100%;
  }

  /* Adjust form width */
  .newsletter-section-form-label,
  .newsletter-section-form-input,
  .cat-item-home,
  .work-image {
    width: 100%;
  }
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 767px) {
  .nav-container {
    flex-direction: column;
    text-align: center;
  }

  .header-nav-li-a {
    margin: 5px 0;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  .section-img-container {
    width: 100%;
    justify-content: center;
  }
  .section-img {
    max-width: 100%;
  }
  .aboutme-small {
    font-size: 0.5rem;
  }
  .aboutme-header {
    font-size: 0.99rem;
  }
  .work-section-h2,
  .category-header {
    font-size: 1rem;
  }
  .skill-item-h3 {
    font-size: 0.9rem;
  }

  /* Adjust form width */
  .newsletter-section-form-label,
  .newsletter-section-form-input {
    width: 100%;
  }
}
@media screen and (max-width: 683px) and (min-width: 639px) {
  .aboutme-text {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 766px) and (min-height: 629px) {
  .aboutme-text {
    font-size: 0.7rem;
  }
  .about-me {
    padding: 15px;
  }

  footer {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 628px) and (min-height: 449px) {
  .aboutme-text {
    font-size: 0.6rem;
  }
  .about-me {
    padding: 15px;
  }
  footer {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 448px) and (min-height: 321px) {
  .aboutme-text {
    font-size: 0.6rem;
  }
  .about-me {
    padding: 15px;
  }
  footer {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 395px) {
  .aboutme-text {
    font-size: 0.4rem;
  }
  .about-me {
    padding: 10px;
  }
  footer {
    font-size: 0.9rem;
  }
}
