.about-me {
  margin-bottom: 10px;
  @include center-section();
  @include section-frame();

  .section-img-container {
    text-align: center; /* Center the image horizontally */
  }

  .section-img {
    width: 100%;
    max-width: 500px; 
    mix-blend-mode: $blend-image-dark;
  }
}

/* Adjust font sizes for smaller screens */
@media screen and (max-width: 767px) {
  .work-section-h2 {
    font-size: 1.5rem;
  }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .work-section .works {
    flex: 0 1 calc(50% - 10px);
  }
  .skill-item {
    flex-direction: column;
  }
  .section-img-container {
    width: 100%;
    justify-content: center;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  /* Adjust font sizes */
  .work-section-h2,
  .category-header {
    font-size: 1.8rem;
  }
  .skill-item-h3 {
    font-size: 1rem;
  }
  .aboutme-paraghraph,
  .aboutme-small {
    font-size: 1rem;
  }
  .aboutme-header {
    font-size: 1.8rem;
  }

  /* Adjust image */
  .section-img {
    max-width: 100%;
  }

  /* Adjust form width */
  .newsletter-section-form-label,
  .newsletter-section-form-input,
  .cat-item-home,
  .work-image {
    width: 100%;
  }
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 767px) {
  .nav-container {
    flex-direction: column;
    text-align: center;
  }

  .header-nav-li-a {
    margin: 5px 0;
  }

  .about-me {
    display: flex;
    flex-direction: column;
  }

  .section-img-container {
    width: 100%;
    justify-content: center;
  }
  .section-img {
    max-width: 100%;
  }
  .aboutme-paraghraph {
    font-size: 0.8rem;
  }
  .aboutme-small {
    font-size: 0.5rem;
  }
  .aboutme-header {
    font-size: 0.99rem;
  }
  .work-section-h2,
  .category-header {
    font-size: 1rem;
  }
  .skill-item-h3 {
    font-size: 0.9rem;
  }

  /* Adjust form width */
  .newsletter-section-form-label,
  .newsletter-section-form-input {
    width: 100%;
  }
}

@media screen and (max-width: 653px) and (min-height: 280px) {
  .aboutme-text {
    // width: 100%;
  }
  .aboutme-paraghraph,
  .aboutme-small {
    font-size: 0.6rem;
    text-align: left;
  
  }
  footer {
    font-size: 0.9rem;
  }
}
