$fonts: "Poppins", Helvetica, sans-serif;
$spacing: 2rem;
$font-size: 1.1rem;
$background-dark: #26262c;
$background-light: #f8f9fa;
$color-light: hsl(218, 92%, 5%);
$color-dark: #e6e7e9;
$image-bg-dark: #26262c;
$blend-image-dark: lighten;
$theme-color: #cce5ff;
$nav-background: #495057;
$form-background: #495057;
$input-fontsize: 0.8rem;
$input-height: 2rem; 
