/* $radius is the parameter of the function */
.gird-container {
  background-color: #26262c;
  padding-top: 100px;
}

.about-me {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(75, 76, 82);
  margin-bottom: 20px;
}
.about-me .section-img-container {
  text-align: center; /* Center the image horizontally */
}
.about-me .section-img {
  width: 100%;
  max-width: 500px;
  mix-blend-mode: lighten;
}

/* Adjust font sizes for smaller screens */
@media screen and (max-width: 767px) {
  .work-section-h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .work-section .works {
    flex: 0 1 calc(50% - 10px);
  }
  .skill-item {
    flex-direction: column;
  }
  .section-img-container {
    width: 100%;
    justify-content: center;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  /* Adjust font sizes */
  .work-section-h2,
  .category-header {
    font-size: 1.8rem;
  }
  .skill-item-h3 {
    font-size: 1rem;
  }
  .aboutme-paraghraph,
  .aboutme-small {
    font-size: 1rem;
  }
  .aboutme-header {
    font-size: 1.8rem;
  }
  /* Adjust image */
  .section-img {
    max-width: 100%;
  }
  /* Adjust form width */
  .newsletter-section-form-label,
  .newsletter-section-form-input,
  .cat-item-home,
  .work-image {
    width: 100%;
  }
}
/* Adjust layout for smaller screens */
@media screen and (max-width: 767px) {
  .nav-container {
    flex-direction: column;
    text-align: center;
  }
  .header-nav-li-a {
    margin: 5px 0;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .section-img-container {
    width: 100%;
    justify-content: center;
  }
  .section-img {
    max-width: 100%;
  }
  .aboutme-paraghraph {
    font-size: 0.8rem;
  }
  .aboutme-small {
    font-size: 0.5rem;
  }
  .aboutme-header {
    font-size: 0.99rem;
  }
  .work-section-h2,
  .category-header {
    font-size: 1rem;
  }
  .skill-item-h3 {
    font-size: 0.9rem;
  }
  /* Adjust form width */
  .newsletter-section-form-label,
  .newsletter-section-form-input {
    width: 100%;
  }
}
@media screen and (max-width: 653px) and (min-height: 280px) {
  .aboutme-paraghraph,
  .aboutme-small {
    font-size: 0.6rem;
    text-align: left;
  }
  footer {
    font-size: 0.9rem;
  }
}
.work-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(75, 76, 82);
  margin-bottom: 20px;
  padding: 10px;
}

.cat-list {
  display: flex;
  flex-direction: row;
}

.cat-items,
.cat-items-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.categorey {
  padding-bottom: 10px;
}
.categorey .skill-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.categorey .skill-item .skill-item-div {
  background-color: #edf2fb;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: 200px;
}
.categorey .skill-item .skill-item-div .skill-item-h3 {
  font-size: 18px;
  margin: 0;
  color: hsl(218, 92%, 5%);
}

.frontend,
.categorey,
.backend,
.fullstack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.works {
  display: flex;
  flex-direction: column;
  flex: 0 1 calc(25% - 10px);
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
}

.work-image {
  width: 15rem;
  height: 15rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(184, 184, 184);
  margin-bottom: 10px;
  object-fit: cover;
}

.work-image:hover {
  box-shadow: 0 4px 8px rgb(240, 248, 248);
}

.explanation {
  width: 15rem;
  display: block;
  text-align: justify-all;
}

@media screen and (min-width: 1062px) and (max-width: 1407px) {
  .work-section .works {
    flex: 0 1 calc(33.33% - 10px);
  }
}
@media screen and (min-width: 839px) and (max-width: 1062px) {
  .work-section .works {
    flex: 0 1 calc(50% - 10px);
  }
}
@media screen and (max-width: 839px) {
  .work-section .works {
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 653px) and (min-height: 280px) {
  .work-image {
    width: 80%;
    height: 80%;
  }
}
.section-subscription {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  align-self: center;
}

@media screen and (max-width: 839px) {
  .section-subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.newsletter-section {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(75, 76, 82);
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}
.newsletter-section .newsletter-section-title {
  color: #e6e7e9;
  padding-bottom: 20px;
}
.newsletter-section .newsletter-section-subtitle {
  color: #e6e7e9;
  margin-bottom: 20px;
}
.newsletter-section .newsletter-section-form .newsletter-section-form-label {
  color: #e6e7e9;
  margin-top: 5px;
  margin-bottom: 5px;
}
.newsletter-section .newsletter-section-form .newsletter-section-form-input[type=email] {
  background-color: transparent;
  color: #e6e7e9;
  border: none;
  border-bottom: 1px solid #e6e7e9;
  width: calc(100% - 20px);
  margin-right: 10px;
  padding: 5px;
  box-sizing: border-box;
}
.newsletter-section .newsletter-section-form .newsletter-section-form-input[type=email]:focus {
  outline: none;
  border-color: #e6e7e9;
}
.newsletter-section .newsletter-section-form .newsletter-section-form-button[type=submit] {
  background-color: #26262c;
  color: #e6e7e9;
  border: 1px solid #e6e7e9;
  border-radius: 4px;
  padding: 13px 16px;
  cursor: pointer;
  margin-top: 20px;
}
.newsletter-section .newsletter-section-form .newsletter-section-form-button[type=submit]:hover {
  background-color: #f8f9fa;
  color: hsl(218, 92%, 5%);
  border: 1px solid hsl(218, 92%, 5%);
}

@media screen and (min-width: 667px) and (max-width: 1024px) {
  .newsletter-section-title {
    font-size: 2rem;
  }
  .newsletter-section-subtitle {
    font-size: 1.2rem;
  }
  .newsletter-section-form-label {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .newsletter-section-title {
    font-size: 0.9rem;
  }
  .newsletter-section-subtitle {
    font-size: 0.8rem;
  }
  .newsletter-section-form-label {
    font-size: 0.8rem;
  }
}
.filter {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  margin-bottom: 20px;
}

.filter-item {
  border: 1px solid #e6e7e9;
  padding: 14px;
  flex-wrap: nowrap;
  border-radius: 5px;
  margin: 0 5px;
  width: 20%;
  text-align: center;
}

.filter-item-p {
  margin: 0;
}

.filter-item:hover {
  transition: border-color 0.3s ease;
}

.filter-item.active {
  background-color: #f8f9fa;
  color: hsl(218, 92%, 5%);
}

.filter-overview {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .filter-item {
    max-width: 25%;
  }
}
@media screen and (max-width: 767px) {
  .filter {
    width: 100%;
    flex-wrap: wrap;
  }
  .filter-item {
    width: 100%;
    margin: 5px;
  }
}
@media screen and (max-width: 480px) {
  .filter-item {
    max-width: 50%;
  }
}
.project-detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(75, 76, 82);
  margin-bottom: 20px;
  padding: 10px;
  width: 90;
  margin: 0 auto;
}

.project-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgb(184, 184, 184);
  object-fit: cover;
  margin: 20px auto;
}

.project-description {
  margin-left: 15px;
}

.appointment-section {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 300px;
}

.appointment-section-title {
  color: #e6e7e9;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.appointment-section-subtitle {
  color: #e6e7e9;
  font-size: 0.9rem;
  margin-bottom: 15px;
  display: block;
}

.appointment-section-form {
  margin: 0 auto;
}

.appointment-section-form-label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.appointment-section-form-input[type=email],
.appointment-section-form-input[type=date] {
  color: #e6e7e9;
  border: 1px solid #e6e7e9;
  background-color: transparent;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.appointment-section-form-input[type=email]:focus,
.appointment-section-form-input[type=date]:focus {
  box-shadow: 0 4px 8px rgb(240, 248, 248);
}

.appointment-section-form-input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(99%);
}

.appointment-section-form-button[type=submit] {
  color: #e6e7e9;
  border: 1px solid #e6e7e9;
  background-color: #26262c;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.appointment-section-form-button[type=submit]:hover {
  color: hsl(218, 92%, 5%);
  background-color: #f8f9fa;
}

@media screen and (max-width: 1061px) {
  .project-detail {
    grid-template-columns: 1fr;
  }
}
.contact-section {
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px rgb(75, 76, 82);
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  height: 100%;
  justify-content: center;
  margin-top: 20px;
}
.contact-section .contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-section .contact-form .contact-form-button[type=submit] {
  background-color: #26262c;
  color: #e6e7e9;
  border: 1px solid #e6e7e9;
  border-radius: 4px;
  padding: 13px 16px;
  cursor: pointer;
  margin-top: 20px;
}
.contact-section .contact-form .contact-form-button[type=submit]:hover {
  background-color: #f8f9fa;
  color: hsl(218, 92%, 5%);
  border: 1px solid hsl(218, 92%, 5%);
}
.contact-section .contact-form .contact-form-fields {
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
}
.contact-section .contact-form .contact-form-fields .contact-form-fields-input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #e6e7e9;
  border-radius: 5px;
  height: 2rem;
  margin-top: 10px;
  padding: 5px;
  color: #e6e7e9;
  font-size: 0.8rem;
}
.contact-section .contact-form .contact-form-fields .contact-form-fields-input:focus {
  box-shadow: 0 4px 8px rgb(240, 248, 248);
}

@media screen and (max-width: 839px) {
  .contact-section {
    margin-top: 50px;
  }
  .contact-form-fields-input {
    width: 100%;
    border-radius: 2px;
    height: 10%;
    margin-top: 10px;
    padding: 5px;
    color: #e6e7e9;
    font-size: 0.8rem;
  }
}
body {
  font-family: "Poppins", Helvetica, sans-serif; /* variable usage */
  background-color: #26262c;
  padding: 2rem;
  font-size: 1.1rem;
  min-height: 100vh;
  color: #e6e7e9;
  overflow-x: hidden;
  /* using the mixins function */
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #495057;
  opacity: 0.9;
  padding: 10px;
}
.nav-container .logo-h1 {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .nav-container {
    grid-template-columns: 2fr 1fr;
  }
}
.nav-container .header-nav-ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.nav-container .header-nav-ul .header-nav-li {
  margin: 0 10px;
}
.nav-container .header-nav-ul .header-nav-li-a {
  color: #e6e7e9;
  text-decoration: none;
}
.nav-container .header-nav-ul .header-nav-li-a:hover {
  color: #66b2ff;
}
.nav-container .header-nav-ul .header-nav-li-a:active {
  color: #66b2ff;
}

.sub-logo {
  text-transform: none !important;
  color: #66b2ff;
}

.activity-bar {
  display: none;
}

.footer {
  color: #a5a5a5;
  text-align: center;
  padding: 10px;
}

/*# sourceMappingURL=style.css.map */
