@import "variables";
@import "mixins";
@import "gridContainer";
@import "section-layout";
@import "workItemSettings";
@import "subscription";
@import "aside";
@import "filter";

body {
  font-family: $fonts; /* variable usage */
  background-color: $background-dark;
  padding: $spacing;
  min-height: 100vh;
  color: $color-dark;
  overflow-x: hidden;

  /* using the mixins function */
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #495057;
  opacity: 0.9;
  padding: 10px;

  @media (min-width: 768px) {

    grid-template-columns: 2fr 1fr;
  }

  .nav-ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;

    li {
      margin: 0 10px;
    }

    a {
      color: $color-dark;
      text-decoration: none;
    }

    a:hover {
      color: #66b2ff;
    }

    a:active {
      color: #66b2ff; 
    }
  }
}

.sub-logo {
  text-transform: none !important;
  color: #66b2ff; 
}

.activity-bar {
  display: none;
}


footer {
  color: #a5a5a5;
  text-align: center;
  padding: 10px;
}
